
/* ---------------------------------------------------------- IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&display=swap');

/* -------------------------------------------------------- VARIABLES */

:root {
	--main-font-family: 'JetBrains Mono', monospace;
	--alternative-font-family: 'Press Start 2P', cursive;
	--calculator-display-background-color: hsl(0deg, 0%, 90%);
	--calculator-display-border-color: hsl(0deg, 0%, 95%);
	--btn-background-color: hsl(0deg, 0%, 90%);
	--btn-border-color: hsl(0deg, 0%, 95%);
}

/* ------------------------------------------------------------ RESET */

*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
}

button {
	font: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------- GENERAL */

body {
	background-color: #FFFFFF;
	color: #000;
	font: 1.6rem var(--main-font-family);
}

body.container {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

/* ------------------------------------------------------- CALCULATOR */

#calculator {
	aspect-ratio: .75;
	column-gap: 10px;
	display: grid;
	font-family: var(--alternative-font-family);
	font-weight: bold;
	grid-auto-columns: 1fr;
	grid-auto-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 'display display display display'
											 'btn-del btn-ac btn-exp btn-div'
											 'btn-num7 btn-num8 btn-num9 btn-mul'
											 'btn-num4 btn-num5 btn-num6 btn-sub'
											 'btn-num1 btn-num2 btn-num3 btn-sum'
											 'btn-num0 btn-dec btn-equ btn-neg';
	row-gap: 10px;
	width: 25%;
}

#calculator > * {
	color: #FFFFFF;
	text-shadow: 2px 2px 0 hsla(0deg, 0%, 0%, 25%);
}

.calculator-display {
	align-items: flex-end;
	background-color: var(--calculator-display-background-color);
	border: 10px groove var(--calculator-display-border-color);
	display: flex;
	flex-flow: column;
	grid-area: display;
	justify-content: center;
	padding-right: .5ch;
	row-gap: 1ch;
}

.calculator-operation {
	font-size: 1em;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.calculator-result {
	font-size: 3em;
}

[class*='btn'] {
	background-color: var(--btn-background-color);
	border: 5px outset var(--btn-border-color);
}

[class*='btn']:hover,
[class*='btn']:focus {
	cursor: pointer;
}

[class*='btn']:active {
	border-style: inset;
}
