

/* ---------------------------------------------------------- IMPORTS */


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&display=swap');


/* -------------------------------------------------------- VARIABLES */


:root {
	--main-font-family: 'JetBrains Mono', monospace;
	--alternative-font-family: 'Press Start 2P', cursive;
	--calculator-font-color: #FFFFFF;
	--calculator-background-color: #FFFFFF;
	--calculator-display-background-color: hsl(100deg, 100%, 80%);
}


/* ------------------------------------------------------------ RESET */


*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
}

button {
	font: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ---------------------------------------------------------- GENERAL */


body {
	background-color: #FFFFFF;
	color: #000;
	font: 1.6rem var(--main-font-family);
}

body.container {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}


/* ------------------------------------------------------- CALCULATOR */


#calculator {
	aspect-ratio: .75;
	background-color: var(--calculator-background-color);
	column-gap: 5px;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-areas: 'display display display display'
											 'btn-num7 btn-num8 btn-num9 btn-divide'
											 'btn-num4 btn-num5 btn-num6 btn-multiply'
											 'btn-num3 btn-num2 btn-num1 btn-subtract'
											 'btn-decimal btn-num0 btn-equal btn-sum'
											 'btn-clear btn-clear btn-clear btn-clear';
	height: 25vw;
	row-gap: 5px;
}

#calculator,
#calculator * {
	color: var(--calculator-font-color);
	font-family: var(--alternative-font-family);
	text-shadow: 2px 2px 0 hsla(0, 0%, 0%, 25%);
}

.calculator-display {
	align-items: center;
	background-color: var(--calculator-display-background-color);
	display: grid;
	grid-area: display;
	grid-template-areas: 'operation'
											 'result';
	justify-content: flex-end;
	padding: 0 15px;
}

.calculator-display-history {
	font-size: .75em;
	grid-area: operation;
	justify-self: end;
}

.calculator-display-result {
	font-size: 2em;
	grid-area: result;
	justify-self: end;
}

[class*='btn-'] {
	font-weight: bold;
	transition: all .5s ease-in-out;
}

[class*='btn-']:hover,
[class*='btn-']:focus {
	cursor: pointer;
}
